@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom fancy underline style */
.curvy-underline {
  position: relative;
  display: inline-block;
}

/* Top stroke */
.curvy-underline::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 10px;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 20' preserveAspectRatio='none'%3E%3Cpath d='M5 14 C40 10 80 10 120 12 C155 13 180 11 195 14' stroke='%23f97316' stroke-width='7' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
}

/* Bottom long oval curve */
.curvy-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -14px;
  width: 100%;
  height: 18px;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 30' preserveAspectRatio='none'%3E%3Cpath d='M5 20 C40 5 100 5 150 15 C200 25 230 18 245 20' stroke='%23f97316' stroke-width='7' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
}
